* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.cubic-demo {
  background: linear-gradient(33.7deg, #8f8f8f 7.72%, #676c7a 84.33%);
}

.cubic-demo .nav-menu {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.cubic-demo .nav-menu ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
}

.cubic-demo.show .nav-menu ul li {
  opacity: 1;
}

/* .cubic-demo.show .nav-menu ul li:nth-child(1) {
  animation: menu1 1.2s 0.3s ease-in-out forwards;
}

.cubic-demo.show .nav-menu ul li:nth-child(2) {
  animation: menu2 1.3s 0.3s ease-in-out forwards;
}

.cubic-demo.show .nav-menu ul li:nth-child(3) {
  animation: menu3 1.4s 0.3s ease-in-out forwards;
}

.cubic-demo.show .nav-menu ul li:nth-child(4) {
  animation: menu4 1.4s 0.3s ease-in-out forwards;
}

.cubic-demo.show .nav-menu ul li:nth-child(5) {
  animation: menu5 1.3s 0.3s ease-in-out forwards;
}

.cubic-demo.show .nav-menu ul li:nth-child(6) {
  animation: menu6 1.2s 0.3s ease-in-out forwards;
} */
.cubic-demo .nav-menu ul li:nth-child(1),
.cubic-demo .nav-menu ul li:nth-child(2),
.cubic-demo .nav-menu ul li:nth-child(3) {
  left: 50%;
}

.cubic-demo .nav-menu ul li:nth-child(4),
.cubic-demo .nav-menu ul li:nth-child(5),
.cubic-demo .nav-menu ul li:nth-child(6) {
  left: 50%;
}

.cubic-demo .nav-menu ul li:nth-child(3),
.cubic-demo .nav-menu ul li:nth-child(4) {
  transition: 1.4s 0.3s ease-in-out;
}

.cubic-demo .nav-menu ul li:nth-child(2),
.cubic-demo .nav-menu ul li:nth-child(5) {
  transition: 1.3s 0.3s ease-in-out;
}

.cubic-demo .nav-menu ul li:nth-child(1),
.cubic-demo .nav-menu ul li:nth-child(6) {
  transition: 1.2s 0.3s ease-in-out;
}

.cubic-demo.show .nav-menu ul li:nth-child(1) {
  left: 20%;
}

.cubic-demo.show .nav-menu ul li:nth-child(2) {
  left: 30%;
}

.cubic-demo.show .nav-menu ul li:nth-child(3) {
  left: 40%;
}

.cubic-demo.show .nav-menu ul li:nth-child(4) {
  left: 63%;
}

.cubic-demo.show .nav-menu ul li:nth-child(5) {
  left: 73%;
}

.cubic-demo.show .nav-menu ul li:nth-child(6) {
  left: 83%;
}

@keyframes menu1 {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    opacity: 1;
    left: 20%;
  }
}

@keyframes menu2 {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    opacity: 1;
    left: 30%;
  }
}

@keyframes menu3 {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    opacity: 1;
    left: 40%;
  }
}

@keyframes menu4 {
  0% {
    opacity: 0;
    left: 53%;
  }

  100% {
    opacity: 1;
    left: 63%;
  }
}

@keyframes menu5 {
  0% {
    opacity: 0;
    left: 53%;
  }



  100% {
    opacity: 1;
    left: 73%;
  }
}

@keyframes menu6 {
  0% {
    opacity: 0;
    left: 53%;
  }

  100% {
    opacity: 1;
    left: 83%;
  }
}

.cubic-demo #wrapModelCube {
  margin: 20px auto;
  cursor: pointer;
}

.cubic-demo #ModelCube {
  width: 30px;
  height: 30px;
  top: 0;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  -moz-transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  -webkit-transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.cubic-demo.show #ModelCube {
  transform: rotateX(-22deg) rotateY(-403deg) rotateZ(0deg);
}

@keyframes cubeRotation {
  0% {
    margin-bottom: 0;
  }

  10% {
    margin-bottom: -30px;
  }

  20% {
    margin-bottom: 0;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
  }
}

.cubic-demo #ModelCube>div {
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 30px;
  height: 30px;
  float: left;
  overflow: hidden;
  opacity: 0.85;
  border: 1px solid #fff;
}

.cubic-demo #side1 {
  transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side2 {
  transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side3 {
  transform: translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side4 {
  transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side5 {
  transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side6 {
  transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

li {
  list-style-type: none;
}