* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6px 12px;
}

.menu-img {
  border-radius: 50px;
  border: 1px solid #FFF;
  width: 36px;
  height: 36px;
  overflow: hidden;
  display: inline-block;
}

.menu-img img {
  width: 100%;
}

a:hover {
  color: #fff;
}

.cubic-demo {
  background: linear-gradient(33.7deg, #8f8f8f 7.72%, #676c7a 84.33%);
  height: 100vh;
}

.cubic-demo .nav-menu {
  width: 100%;
  position: relative;
}

.cubic-demo .nav-menu ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
}

.cubic-demo.show .nav-menu ul li {
  opacity: 1;
}



.cubic-demo .nav-menu ul li a::before {
  content: '';
  height: 30px;
  border-left: 1px solid #fff;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: all 0.2s;
}

.cubic-demo .nav-menu ul li.active a::before {
  top: 0;
  opacity: 1;
}

.cubic-demo.show .nav-menu ul li:hover a::before {
  top: 0;
  opacity: 1;
}

.cubic-demo .nav-menu ul li:nth-child(3),
.cubic-demo .nav-menu ul li:nth-child(4) {
  transition: 0.7s 0.3s ease-in-out;
}

.cubic-demo .nav-menu ul li:nth-child(2),
.cubic-demo .nav-menu ul li:nth-child(5) {
  transition: 0.6s 0.3s ease-in-out;
}

.cubic-demo .nav-menu ul li:nth-child(1),
.cubic-demo .nav-menu ul li:nth-child(6) {
  transition: 0.5s 0.3s ease-in-out;
}

.cubic-demo.show .nav-menu ul li:nth-child(1) {
  left: 20%;
}

.cubic-demo.show .nav-menu ul li:nth-child(2) {
  left: 30%;
}

.cubic-demo.show .nav-menu ul li:nth-child(3) {
  left: 40%;
}

.cubic-demo.show .nav-menu ul li:nth-child(4) {
  left: 60%;
}

.cubic-demo.show .nav-menu ul li:nth-child(5) {
  left: 70%;
}

.cubic-demo.show .nav-menu ul li:nth-child(6) {
  left: 80%;
}

@keyframes menu1 {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    opacity: 1;
    left: 20%;
  }
}

@keyframes menu2 {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    opacity: 1;
    left: 30%;
  }
}

@keyframes menu3 {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    opacity: 1;
    left: 40%;
  }
}

@keyframes menu4 {
  0% {
    opacity: 0;
    left: 53%;
  }

  100% {
    opacity: 1;
    left: 63%;
  }
}

@keyframes menu5 {
  0% {
    opacity: 0;
    left: 53%;
  }



  100% {
    opacity: 1;
    left: 73%;
  }
}

@keyframes menu6 {
  0% {
    opacity: 0;
    left: 53%;
  }

  100% {
    opacity: 1;
    left: 83%;
  }
}

.cubic-demo #wrapModelCube {
  margin: 20px auto;
}

.cubic-demo #ModelCube {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  -moz-transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  -webkit-transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cubic-demo.show #ModelCube {
  animation: cubeRotation 1s forwards ease-in-out;

}

.cubic-demo.hide #ModelCube {
  animation: cubeRotationHide 1s forwards ease-in-out;

}

.cubic-demo.first-show #ModelCube {
  animation: none;
}

.cubic-demo.first-show ul {
  opacity: 0;
}

@keyframes cubeRotation {
  0% {
    transform: rotateX(-22deg) rotateY(-45deg) translateY(0);
  }

  10% {
    transform: rotateX(-22deg) rotateY(-45deg) translateY(10px);
  }

  20% {
    transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-22deg) rotateY(-405deg) rotateZ(0deg);
  }
}

@keyframes cubeRotationHide {
  0% {
    transform: rotateX(-22deg) rotateY(-405deg) translateY(0);
  }

  10% {
    transform: rotateX(-22deg) rotateY(-405deg) translateY(10px);
  }

  20% {
    transform: rotateX(-22deg) rotateY(-405deg) rotateZ(0deg);

  }

  100% {
    transform: rotateX(-22deg) rotateY(-45deg) rotateZ(0deg);
  }
}

.cubic-demo #ModelCube>div {
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 30px;
  height: 30px;
  float: left;
  overflow: hidden;
  opacity: 0.85;
  border: 1px solid #fff;
}

.cubic-demo #side1 {
  transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side2 {
  transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side3 {
  transform: translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side4 {
  transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side5 {
  transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

.cubic-demo #side6 {
  transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(15px);
  background-color: rgba(150, 150, 150, 0.5)
}

li {
  list-style-type: none;
}